# YAML schema for GitHub Actions:
# https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions
#
# Helpful YAML parser to clarify YAML syntax:
# https://yaml-online-parser.appspot.com/
#
# This workflow uses actions that are not certified by GitHub. They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support documentation.
#
# This file contains the workflows that are run prior to merging a pull request.

name: Docs

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - 'master'

  # Allow manually triggering of the workflow.
  workflow_dispatch: {}

jobs:
  build_documentation:
    name: Build PDF Tutorial Document
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      
      - name: Pull doc_builder container
        run: |
          docker pull ghcr.io/xmos/doc_builder:v3.0.0 
      
      - name: Build documentation
        run: |
          docker run --rm -t -u "$(id -u):$(id -g)" -v ${{ github.workspace }}:/build -e PDF=1 -e SKIP_LINK=1 ghcr.io/xmos/doc_builder:main || echo "Container appears to have falsely reported an error. Ignoring error."
          
      - name: Save documentation artifacts
        uses: actions/upload-artifact@v2
        with:
          name: xmath_tutorial documentation 
          path: ./doc/_build/pdf/tutorial.pdf
          if-no-files-found: error # 'warn' or 'ignore' are also available, defaults to `warn` 
          retention-days: 5
